@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: transparent;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

#cart-toggle{
    display: none;
}

header img{
    padding-left: 20px;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar i{
    font-size: 30px;
}

#toggle-menu{
    display: none;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 40px;
}

.navbar-list{
    padding: 0px 50px;
    width: 100%;
}

.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
}

.navbar a:hover{
    color: #252525;
    transition: all 0.4s ease;
}

.bars{
    color: #FFFFFF;
    display: none;
    overflow: hidden;
}

.cart{
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top, #ec2F4B, #252525);
    border-left: 1px solid #009FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
    transform: translateX(200%);
    transition: all 0.4s ease;
}

.cart-label{
    cursor: pointer;
}

.cart::-webkit-scrollbar{
    display: none;
}

.cart h2{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #8E2DE2;
    padding: 20px;
    border: 1px solid #009FFF;
    border-radius: 10px;
}

.cart-item
img{
    height: 70px;
    width: 70px;
}

#cart-toggle:checked + .cart{
    display: flex;
    transform: translateX(0%);
    transition: all 0.4s ease;
    animation: slide-left 0.7s ease forwards alternate;
}

@keyframes slide-left{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0);
    }
}

.item-info{
    display: flex;
    flex-direction: column;
}

.item-title{
    font-size: 20px;
    font-weight: 500;
}

.item-bid{
    color: #FFFFFF;
    font-weight: 300;
    padding-left: 10px;
    font-size: 20px;
}

.item-price{
    background: linear-gradient(to right, #ffd452, #f5af19);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    font-weight: 800;
    padding-left: 10px;
}

.item-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 400;
}

.item-quantity{
    color: #E2E2E2;
}

.down{
    background: #396afc;
    border: 1px solid #009FFF;
    cursor: pointer;
}

.up{
    background: #396afc;
    border: 1px solid #009FFF;
    cursor: pointer;
}

.divider{
    margin-top: 20px;
    border: 0.5px solid #009FFF;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btn--comprar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #009FFF;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.btn--comprar:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}

main{
    background: linear-gradient(to bottom, #8E2DE2, #4A00E0);
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
    max-width: 1200px;
}

.hero--img img{
    height: 400px;
}

h2 .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.párrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.párrafo, .title{
    gap: 20px;
}

.text__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.text__container h2{
    color: #FFFFFF;
    font-size: 50px;
}

.text__container p{
    font-size: 30px;
    color: #FFFFFF;
}

.btn{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}


.btn .btn--login{
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    height: 50px;
    width: 200px;
    border-radius: 2rem;
    border: none;
}

.btn .btn--login a{
    background: linear-gradient(to right, #009FFF, #ec2F4B);
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    color: transparent;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn:hover{
    transition: all 0.3s ease;
}

.btn .btn--login:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.btn .btn--login a:hover{
    color: #6b6b83;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn .btn--register{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
    height: 50px;
    width: 200px;
    border-radius: 2rem;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.20);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn .btn--register a{
    color: #FFFFFF;
    text-decoration: none;
}

.btn .btn--register:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.btn .btn--register a:hover{
    color: #252525;
    transition: all 0.3s ease;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.login h2{
    color: #FFFFFF;
    font-size: 30px;
}

.footer__login{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 10px;
    background: #4A00E0;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

.register h2{
    color: #FFFFFF;
    font-size: 30px;
}

.footer__register{
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #4A00E0;
}

.label{
    background: #252525;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: .5rem;
    border: none;
    padding-left: 5px;
}

.input{
    background: #252525;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: .5rem;
    border: none;
    padding-left: 5px;
}

.section__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    padding-bottom: 40px;
    width: 100%;
    margin-left: 15px;
}

.targeta__card{
    display: flex;
    height: 300px;
    width: 170px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 2rem;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.targeta__card img{
    height: 140px;
    width: 120px;
    border-radius: 10px;
}

.targeta__card h4{
    color: #FFFFFF;
}

.targeta__card:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
    cursor: pointer;
}

.divbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.divbtn .btn--agregar{
    background: linear-gradient(to right, #396afc, #2948ff);
    color: #FFFFFF;
    height: 30px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    font-size: 17px;
    font-weight: 700;
}

.divbtn .btn--agregar:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #ec2F4B;
    transform: scale(1.1);
}

.divbtn .btn--precio{
    background: linear-gradient(to right, #C9D6FF, #E2E2E2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    font-weight: 700;
}

h3{
    padding-left: 20px;
    font-size: 30px;
    padding-top: 20px;
    color: #FFFFFF;
}

.targeta__card .card--2{
    height: 171px;
    width: 150px;
}

.targeta__card .card--3{
    height: 171px;
    width: 150px;
}

.targeta__card .card--4{
    height: 171px;
    width: 150px;
}

.targeta__card .card--4 h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.targeta__card, .card--4, h4, .span{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.targeta__card .card--5 img{
    height: 171px;
    width: 150px;
}

.targeta__card, .card--5, h4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.targeta__card .card--6 img{
    height: 171px;
    width: 150px;
}

.targeta__card .card--7 img{
    height: 171px;
    width: 150px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    gap: 20px;
    background-color: #252525;
    width: 100%;
}

.redes{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.wrapper .icon{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.wrapper .icon{
    color: #FFFFFF;
    display: flex;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    padding-left: 20px;
    padding-bottom: 30px;
}

.fa-brands{
    cursor: pointer;
}

.fa-brands .fa-facebook{
    color: #2948ff;
    transition: all 0.3s ease-in;
}

.wrapper2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    font-size: 17px;
}

.lista{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.favicon{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.maps{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #252550;
    border-radius: 10px;
  }